.first-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.second-layout {
  flex: 1;
  display: flex;
  overflow: hidden;
  margin-top: 3.5%;
  /* Prevent scrolling on second layout */
}

.third-layout {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* Prevent scrolling on third layout */
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  /* padding: 10px; */
  /* Enable vertical scrolling */
  /* margin-bottom: 100px; */
  /* Ensure space for the footer */
}
