.first-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.second-layout {
  flex: 1;
  display: flex;
  overflow: hidden;
  /* Prevent scrolling on second layout */
}

.third-layout {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* Prevent scrolling on third layout */
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  /* Enable vertical scrolling */
  padding: 24px;
  margin-bottom: 100px;
  /* Ensure space for the footer */
}